<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>

        <!-- 관례상으로 테이블의 컬럼명은 reg_date와 같이 언더스코어 표기법을 사용하지만, Java에서는 카멜 표기법을 사용한다. 이를 맞추기 위한 설정 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>
</configuration>