{% extends "board/base" %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">글 제목 : {{ article.title | raw }}</h3>
                </div>
                <div class="box-body" style="height: 700px">
                    {% autoescape false %}
                    글 내용 : {{ article.content | replace({ '<script>': "", '</script>' : "" }) }}
                    {% endautoescape %}
                </div>
                <div class="user-block">
                    <span class="username">
                            글 작성자 : {{ article.writer }}
                        </span>
                    <span class="description"></span>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-danger delBtn"><a href="/board/delete?idx={{ article.idx }}">삭제</a></button>
                    <button type="submit" class="btn btn-primary"><a href="/board/update?idx={{ article.idx }}">수정</a></button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}