{% extends "board/base" %} <!-- Parent Template declared -->

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">게시글 작성</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Board Write</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form role="form" id="writeForm" method="post" action="">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="title">제목</label>
                                        <input class="form-control" id="title" name="title" placeholder="제목을 입력해주세요">
                                    </div>
                                    <div class="form-group">
                                        <label for="content">내용</label>
                                        <textarea class="form-control" id="content" name="content" rows="10"
                                                  placeholder="내용을 입력해주세요"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="writer">작성자</label>
                                        <input class="form-control" id="writer" name="writer">
                                    </div>
                                    <div class="form-group uploadDiv">
                                        <input type="file" name="uploadFile" id="file" multiple>
                                    </div>
                                    <div class="uploadResult">
                                        <ul>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" id="btnSave">저장</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script>
    $("li.nav-item > a.b").addClass("active");

    const regEx = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
    const maxSize = 1024 * 1024 * 5; // 5MB

    /**
     * 업로드하는 파일의 확장자와 사이즈를 체크하는 함수.
     *
     * @param fileName
     * @param fileSize
     */
    function checkExtension(fileName, fileSize) {
        if (fileSize >= maxSize) {
            alert("파일 사이즈 초과");
            return false;
        }

        if (regEx.test(fileName)) {
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false;
        }

        return true;
    }

    function showUploadResult(uploadResultArr) {
        if (!uploadResultArr || uploadResultArr.length == 0) return;

        var uploadUL = $(".uploadResult ul");
        var str = "";

        $(uploadResultArr).each(function(i, obj) {
            if (obj.image) { // 이미지 파일인 경우
                var fileCallPath = encodeURIComponent(obj.uploadPath + "/s_" + obj.uuid + "_" + obj.fileName);
                str += "<li><div>";
                str += "<span>" + obj.fileName + "</span>";
                str += "<button type='button' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
                str += "<img src='/display?filename=" + fileCallPath + "'>";
                str += "</div></li>";
            } else { // 이미지 파일이 아닌 경우
                var fileCallPath = encodeURIComponent(obj.uploadPath + "/" + obj.uuid + "_" + obj.fileName);
                var fileLink = fileCallPath.replace(new RegExp(/\\/g), "/");
                str += "<li><div>";
                str += "<span>" + obj.fileName + "</span>";
                str += "<button type='button' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
                str += "<img src='/images/attach.png'>";
                str += "</div></li>";
            }
        });

        uploadUL.append(str);
    }

    function insert() {
        // TODO: 게시글 데이터와 첨부 파일 데이터를 하나의 ajax로 같이 보낼 수 있나 ?
        if (validateForm()) {
            return;
        }

        $.ajax({
            url: "/board/write",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                title: $("#title").val()
                , content: $("#content").val()
                , writer: $("#writer").val()
            }),
            success: function(resultData) {
                // MethodArgumentNotValidException 예외로 리턴한 errors는 여기로 오나 ?
                // if (resultData.errors === 1) window.location.href = '/commons/error_500;

                alert("insert 데이터 정상 처리 !\nidx: " + resultData.idx);
                window.location.href = '/board/read?idx=' + resultData.idx;
            },
            error: function(request, error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    $(document).ready(function() {

        $("#btnSave").on("click", insert);

        $("input[type='file']").change(function(e) {
            var formData = new FormData();
            var inputFile = $("input[name='uploadFile']");
            var files = inputFile[0].files;

            // formData에 첨부파일 데이터를 추가한다.
            for (var i = 0; i < files.length; ++i) {
                if (!checkExtension(files[i].name, files[i].size)) return false;
                formData.append("uploadFile", files[i]);
            }

            $.ajax({
                url: '/board/upload',
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function(result) {
                    console.log(result);
                    alert("Uploaded Success !");
                    showUploadResult(result);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    alert("code : " + jqXHR.status + "\nerror message : " + jqXHR.responseText);
                }
            })
        });
    })
</script>
{% endblock %}